:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 95px !important;
}

h2 {
  font-size: 48px !important;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 750px;
}

.app-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin-top: 50px;
  padding: 15px 20px;
  border-radius: 4px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px !important;
  }
  h2 {
    font-size: 32px !important;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .app-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
